flake8-isort
flake8
pytest
pytest-black
pytest-cov
# https://github.com/tholo/pytest-flake8/issues/81
pytest-flake8-v2
pytest-mypy
mypy
pytest-pydocstyle
black
pytest-structlog
pytest-isort
flake8-bugbear

types-PyYAML

--extra-index-url https://pypi.mongodb.name/ mars-util



